grafana/grafana.db
influxdb/data/
influxdb/meta/
influxdb/wal/
grafana/sessions/
.vscode/
services/Services.BackupCreator/secrets.json
backup/
elasticsearchdata/
mysql/
services/PythonServices/MailSender/secrets.json
services/PythonServices/MailSender/cache.json
services/AutomationRunner/AutomationRunner/secrets.json
